/*body {
	background-color: rgb(219,136,120);
	background-image: url('images/sunset.jpg');
	height: 830px; 
	background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}*/
*{
	margin: 0;
	margin-top: 0px;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
}

h1{
	color:rgb(29, 29, 29); 
	font-family:'Times New Roman', Times, serif; 
  font-size: 250%; 
	text-align: center;
}

body#aboutid {
	background-image: url('images/blueberry.jpg');
	background-color: rgb(124,168,217);
	height: 1900px;
	background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

body#contactid {
	background-color: rgb(124,168,217);
	background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

body#projectsid {
	background-color: rgb(124,168,217);
	background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

div.mainMenu {
	bottom: 1;
	right: 100;
	width: 82px;
	border: 3px solid #3cbd8b;
}

.buttons {
	color: black;
	background-color: rgba(255, 255, 255, 0.65);
	border: none;
	text-align: center;
	outline: 0;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 0px;
	text-decoration: none;
	font-size: 20px;
	border-radius: 25px;
}

.buttons:hover {
	background-color: rgba(255, 255, 255, 1);
	text-decoration: underline;
}

.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.centerImage {
	text-align: center;
	display: block;
}

.textblock {
	font-size: 30px;
	width: 580px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	padding: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	background-color: rgb(255, 255, 255, 0.65);
}

.input-cursor {
	display: inline-block;
	width: 2px;
	height: 42px;
	background-color: white;
	margin-left: 8px;
}

.textblocka {
	margin-left: 50px;
	position: static;
}

.textblockb {
	margin-left: 50px;
	position: static;
}

.textblockc {
	margin-left: 50px;
	position: static;
}

.space {
	height: 50px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	grid-column-gap: 10px;
}

.link {
	font-size: 20px;
	margin-left: 20px;
	color: rgb(0, 0, 0);
}

.card_title{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.card_text {
	font-size: 20px;
	inline-size: 500px;
  overflow-wrap: break-word;
	padding: 30px 10px;
}

.card_left{
	text-align: center;
}

.card_right{
	position: relative
}

.card_footer{
	position: absolute; 
	bottom: 0px
}

.card {
	margin:auto;
	width: 72%;

	height: 350px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgb(255,255,255, 0.5);
	border-radius: 10px;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

span {
	opacity: 0.1;
}