div.mainMenu {
  bottom: 1;
  right: 100;
  width: 82px;
  border: 3px solid #3cbd8b;
}

.buttons {
  width: 20%;
  display: table-cell;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.centerImage {
  text-align: center;
  display: block;
}

.textblock {
  font-size: 20px;
  width: 580px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.space {
  height: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

/* Clear floats after the columns */
.grid-container-four {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  grid-column-gap: 10px;
}
